<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Transction Data</h5>
            
            <div class="card-header-right">
                <button type="button" (click)="exportExcel_backend()" class="btn btn-sm btn-success">Excel</button>
                <button type="button" (click)="exportPDF_backend()" class="btn btn-sm btn-dribbble">PDF</button>
                <button type="button" (click)="exportexcel()" class="btn btn-sm btn-success">FE Excel</button>
            </div>
          </div>
          <div class="card-body p-t-0">
            <div class="table-responsive">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                      <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                  </div>
                  <code *ngIf="error">{{error}}</code>
              <table class="table table table-hover" id="export-table">
                <thead>
                <tr class="text-uppercase">
                  <th>#</th>
                  <th *ngFor="let column of col_list">{{column}}</th>
                
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of data_list | slice:1; let i = index">
                        <td>{{startCount + (i + 1) }}</td>
                        <td *ngFor="let val of list.col">{{val}}</td>
                    </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  