h6,h5,h4,h3,h2,h1,span {
  font-weight: bold !important;
  color:white;
}
.modal-content{
  border: none;
  border-radius: 8px;
}
.modal-header{
  padding: 0.5rem;
  background-color: #691C32;
  --border-radius: 8px 8px 0px 0px;
}
.modal-body{
  padding: 0.5rem;
}
.modal-footer{
  padding: 0.25rem;
  justify-content: flex-start;
}
.btn-close {
  font-weight: bold;
  float: right;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}


.full-width {
  width:100%
}
