.custom-card {

    border: 1px solid #691c31;
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.file-upload {
    cursor: pointer;
    color:#000000;
    background-color: inherit;
    border: 1px solid #cccccc;
    padding: 3px;
  }

  .row {
    margin-bottom: 8px;
  }

  .mat-form-field-prefix, .mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: relative;
    font-size: 20px !important;
}

.mat-form-field{
  margin: -16px !important;
}

.icon-theme {
    color: red;
    background-color: #fcf6d6;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    box-shadow: 0 0px 2px #a7a7a7;
    margin: 5px;
}

