<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
              <h5>Search Account Number</h5>
            </div>
            <div class="card-body">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                      <span class="text-danger">&nbsp;&nbsp;&nbsp;Loading...</span>
                  </div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Account No</label>
                        <div class="col-sm-3">
                          <input type="text" formControlName="accno" class="form-control">
                          <code *ngIf="error">{{error}}</code>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-sm">Search</button>
                          </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  
