<div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="card">
            <div class="card-header">
              <h5>Bank Statement</h5>
              <div class="page-header-breadcrumb">
                <button type="submit" class="btn-primary" [disabled]="disableFlag">
                  <i class="ti-printer"></i>Print
                </button> 
              </div>
            </div>
            <div class="card-body">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                      <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                  </div>
                  <code *ngIf="error">{{error}}</code>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account No</label>
                    <div class="col-sm-3">
                    <input formControlName="accno" class="form-control" (change)="onChange($event)" placeholder="Account No">
                  </div>
                    <div class="col-sm-3">
                      <select class="form-control" formControlName="printDate" id="exampleFormControlSelect1">
                       <option value="Transaction" selected>Transaction</option>
                        <option value="Value">Value</option>
                      </select>
                      </div>
                      
                  </div>
                   <!--<div class="form-group row">
                        <label class="col-sm-2 col-form-label">Account No</label>
                        <div class="col-sm-1">
                          <button type="button" (click)="addAccount()" class="btn-primary">Add</button>
                        </div>
                        <div formArrayName="accno">
                          <div class="col-sm-3" *ngFor="let a of account.controls; index as i">
                            <input [formControlName]="i"(change)="onChange($event)"  placeholder="Account No">
                          </div>
                        </div>
                    </div>-->
                    <div class="form-group row">
                      
                      <label class="col-sm-2 col-form-label">  Date
                         <!-- <input type="checkbox" checked (change)="passOnChange($event.target.checked)" class="styled">-->
                      </label>
                      
                      <div *ngIf="!passDate" class="col-sm-3">
                        <select class="form-control" formControlName="years" id="exampleFormControlSelect1">
                          <option value="" selected>-- Select --</option>
                          <option *ngFor="let y of yearList" value="{{y.pass_years}}">{{ y.pass_years}}</option>
                        </select>
                      </div>
                      
                      <div *ngIf="passDate" class="col-sm-3">
                        <!--<input type="date" formControlName="fromDate" class="form-control">-->
                        <mat-form-field style="width:100px;">
                          <input #minmaxInput matInput 
                            
                            [matDatepicker]="minmaxvalidation" formControlName="fromDate" readonly>
                          <mat-datepicker-toggle matSuffix [for]="minmaxvalidation">
                             </mat-datepicker-toggle>
                          <mat-datepicker #minmaxvalidation></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <label  *ngIf="passDate" class="col-form-label">-</label>
                      <div *ngIf="passDate" class="col-sm-3">
                        <!--<input type="date" formControlName="toDate" class="form-control">-->
                        <mat-form-field style="width:100px;">
                          <input #minmaxInput matInput 
                             
                            [matDatepicker]="minmaxvalidation2" formControlName="toDate" readonly>
                          <mat-datepicker-toggle matSuffix [for]="minmaxvalidation2">
                             </mat-datepicker-toggle>
                          <mat-datepicker #minmaxvalidation2></mat-datepicker>
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">File Type</label>
                        <div class="col-sm-3">
                          <input type="radio" formControlName="fileType" value="pdf" />
                          <label class="col-sm-3 col-form-label">PDF</label>
                         <input type="radio"  formControlName="fileType" value="excel" />
                          <label class="col-sm-3 col-form-label">Excel</label>
                        </div>
                  </div><!--
                      <div class="form-group row">
                        <div class="col-sm-1">
                          <button type="submit" class="btn btn-primary btn-sm">Print</button>
                        </div>
                      </div>-->
                
            </div>
        </div>
      </form>
    </div>
  </div>
  
