<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Bypass Account List</h5>
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                    <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <code *ngIf="error">{{error}}</code>
                <label *ngIf="message" class="text-info">{{message}}</label>
                
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group row">
                        <label class="col-sm-2">Customer Acc No </label>
                        <div class="col-xs-2">
                            <input type="text" formControlName="cust_ac_no" > 
                        </div>
                        <label class="col-sm-1">Status</label>
                        <div class="col-xs-2">
                            <select  formControlName="status" >
                                <option value="">All</option>
                                <option value="A">Active</option>
                                <option value="D">Not Active</option>
                            </select>
                        </div> 
                        <div class="col-sm-2">
                            <button type="submit" class="btn-primary">Search</button>
                        </div>
                    </div>
                </form>

                <div class="row" *ngIf="response.listData != null"> 
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table table-hover">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th> # </th>
                                        <th>Date</th>
                                        <th>Customer Account Number</th>
                                        <th>Recommended By</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of response.listData; let i = index">
                                        <td> {{i+1}} </td>
                                        <td>{{list.entry_date}}</td>
                                        <td>{{list.cust_ac_no}}</td>
                                        <td>{{list.recommended_by}}</td>
                                        <td align="right">{{list.amount | number:'1.0-3'}}</td>
                                        <td align="right">{{list.status}}</td>
                                        <td align="right">
                                           <!--<a [routerLink]="['/bypass-edit-account']" [queryParams]="{cust_ac_no: list.cust_ac_no}" >Edit</a>--> 
                                            <a [routerLink]="['/bypass-edit-account',list.cust_ac_no]" >Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>