<section class="login p-fixed d-flex text-center bg-login">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" [formGroup]="form">
            
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <div class="text-center">
                    <img style="height:50px !important;" src="assets/images/MABImage/MABlogo_Web.png" alt="logo.png">
                  </div>
                  <h3 class="text-center txt-primary">Sign In</h3>
                  <div *ngIf="error" >
                      <p  class="text-danger text-left m-b-0"><b>{{error}}</b></p>
                   </div>
                  
                  <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                      <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-user"></i></span>
                </div>
                <input type="text" (change)="onChange($event)" formControlName="userId" class="form-control" placeholder="User ID">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-lock"></i></span>
                </div>
                <input type="password" id="p_box" formControlName="password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <span class="input-group-text" (click)="togglePassword()" style="background-color: #dcdcdc; color:#666;"><i class="icofont icofont-eye"></i></span>
                </div>
              </div>
              
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" (click)="submit()" [disabled]="submitDisabled" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>
              </div>
 <!--
              <div class="row text-left">
               <div class="col-sm-5 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 forgot-phone text-right">
                  <a [routerLink]="['/auth/forgot']" class="text-right text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              -->
              
              <hr/>
              
            
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">
                    <a [routerLink]="['/auth/forgot-password']" class="text-right text-inverse"> Forgot Your Password?</a>
                   </p>
                 <!--<p class="text-inverse text-left"><b>Your Autentification Team</b></p>-->
                </div>
                <div class="col-md-2">
                 <!-- <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">-->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
