<div class="row">
  <div class="col-sm-12">
      <div class="card">
          <div class="card-header">
              <h5>Meter Bill Upload</h5>
              <p class="text-danger mb-1 ng-tns-c85-3" *ngIf="timeCounter">{{timeCounter}}</p>
          </div>
          <div class="card-body">
              <code *ngIf="error">{{error}}</code>
              <label  *ngIf="message" class="text-info">{{message}}</label>
             
              <div *ngIf="loading" class="d-flex justify-content-center">
                <div class="spinner-border spinner-border-sm text-warning"></div>
                  <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
              </div>

            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group row">
                  <label class="col-sm-2  col-form-label">Division<code>*</code></label>
                  <div class="col-sm-2">
                    <select class="form-control" formControlName="divisionId" (change)="onChange($event)"> 
                      <option value="{{item.divisionId}}" *ngFor='let item of divisionList'>{{item.divisionName}}</option>
                    </select>
                  </div>

                  <label class="col-sm-2  col-form-label">Region<code>*</code></label>
                  <div class="col-sm-2">
                    <select class="form-control" formControlName="regionId" (change)="onRegionChange($event)"> 
                      <option value="{{item.regionId}}" *ngFor='let item of regionList'>{{item.regionName}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2  col-form-label">Township<code>*</code></label>
                  <div class="col-sm-2">
                    <select class="form-control" formControlName="townshipId"> 
                      <option value="{{item.townshipId}}" *ngFor='let item of tspList'>{{item.townshipName}}</option>
                    </select>
                  </div>

                  <label class="col-sm-2  col-form-label">Upload Excel File<code>*</code></label>
                  <div class="col-sm-2">
                     <input type="file" formControlName="fileData" (click)="reChange()" (change)="handleFileInput($event.target.files)">
                  </div>
                </div>

                <!--
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Template<code>*</code></label>
                  
                  <div class="col-sm-2">
                    <input type="radio"  formControlName="template" value="npd1" /> NPD-D1
                  </div> 
              
                   <div class="col-sm-1.8">
                    <input type="radio" formControlName="template" value="mdy1" /> MDY-D1
                  </div>
                  <div class="col-sm-1.8">
                    <input type="radio"  formControlName="template" value="ygn1" /> YGN-D1
                  </div>
                  <div class="col-sm-1.8">
                    <input type="radio"  formControlName="template" value="ygn2" /> YGN-D2
                  </div>   
                  <div class="col-sm-1.8">
                    <input type="radio"  formControlName="template" value="ygn3" /> YGN-D3
                  </div>  
                  <div class="col-sm-1.8">
                    <input type="radio"  formControlName="template" value="ygn4" /> YGN-D4
                  </div>    
                </div> -->

                <!-- <table class="table">
                  <thead></thead>
                  <tbody>
                    <tr *ngFor="let item of tspList">
                      <td> {{item.townshipName}}</td> 
                      <td>  <input type="file" (change)="handleFileInput($event.target.files,item.townshipId)"></td>
                    </tr>
                    
                  </tbody>
                </table> -->
    
                <div class="form-group row">
                  <label class="col-sm-2  col-form-label"></label>
                  <div class="col-sm-1">
                    <button class="btn btn-primary btn-sm" type="submit" (click)="reChange()">Import</button> 
                    <!-- [disabled]="isDisabled"   -->
                  </div>
                  
                </div>

                <div *ngIf="errorList" class="col-md-12">
                  <ul *ngFor="let item of errorList">
                    <li>
                      <i class="icofont icofont-hand-right text-info"></i> 
                      <span class="text-danger">{{item.errorMessage}}</span>
                    </li>
                  </ul>
                </div>

          </form>

          <div class="col-sm-12 col-md-2">
            <button class="btn btn-primary btn-sm" (click)="removeAll()">All Clear</button>
          </div>
        

        </div>
        
  </div>
</div>