<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Excel Configuration Setup</h5>

          <div class="page-header-breadcrumb">
            <button type="button" class="btn btn-primary btn-sm" (click)="save()" [disabled]="editForm.invalid">Save</button> 
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border spinner-border-sm text-warning"></div>
              <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
          </div>

          <code *ngIf="error">{{error}}</code>
          <code  *ngIf="message" class="text-info">{{message}}</code>
          <form [formGroup]="editForm" >

            <div class="row form-group col-md-12">
              <label class="col-sm-2 col-form-label">Configuration Name</label>
              <input type="text" formControlName="configName" class="col-sm-4 form-control">
              
              <div class="col-sm-6"  *ngIf="editForm.get('configName')!.invalid && (editForm.get('configName')!.dirty || editForm.get('configName')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('configName')?.errors?.required">
                  This field is required.
                </small>
      
                <small class="form-text text-danger" *ngIf="editForm.get('configName')?.errors?.maxlength">
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>

            <div class="row form-group col-md-12">
              <label class="col-sm-2 col-form-label">Header Row No.</label>
              <input type="text" formControlName="headerRowNo" class="col-sm-4 form-control" (keypress)="validateNumber($event)">

              <div class="col-sm-6"  *ngIf="editForm.get('headerRowNo')!.invalid && (editForm.get('headerRowNo')!.dirty || editForm.get('headerRowNo')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('headerRowNo')?.errors?.required">
                  This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="editForm.get('headerRowNo')?.errors?.maxlength">
                  This field cannot be longer than 2 characters.
                </small>
              </div>
            </div>

            <div class="row form-group col-md-12">
              <label class="col-sm-2 col-form-label">Remove Last Row</label>
              <div class="col-sm-6">
                <input type="radio" style="margin:8px;" value="YES" name="removeLastRow" formControlName="removeLastRow" /> <label>YES</label> &nbsp;&nbsp;&nbsp;
                <input type="radio" style="margin:8px;" value="NO"  name="removeLastRow" formControlName="removeLastRow" /> <label>NO</label>
              </div>
            </div>



            <div class="row form-group col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
              <span style="font-weight: bold; font-size: 20px;">Column Mapping Details</span>
            </div>

            <div class="table-responsive">
              <table class="table table table-hover" style="width: 100%;">
                <thead>
                <tr class="text-uppercase">
                  <th style="width: 20%;">Field Name</th>
                  <th style="width: 80%;">Excel Column</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of colList; last as isLast; let i = index">
                    <td style="vertical-align: middle;">{{data.label}}</td>
                    <td>
                      <span title="Add Column" (click)="addColumn(i)"><i class="fa fa-plus icon-theme-plus"></i></span>
                      <span style="padding-left: 16px;">{{data.caption}}</span>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  
