<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Data Checking Report</h5>
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                    <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <code *ngIf="error">{{error}}</code>
                <label *ngIf="message" class="text-info">{{message}}</label>
                
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group row">
                
                        <label class="col-sm-1 col-form-label">Branch Code</label>
                        <div class="col-sm-1 col-form-label">
                            <select  formControlName="branch_code" >
                                <option *ngFor="let arr of _branchList"  value="{{arr}}" selected>{{arr}}</option>
                            </select>
                        </div> 
                        <label class="col-sm-1 col-form-label">  Date</label>
                        <div class="col-sm-2">
                            <mat-form-field style="width:100px;">
                              <input #minmaxInput matInput                                     
                              [matDatepicker]="minmaxvalidation" formControlName="from_date" readonly>
                              <mat-datepicker-toggle matSuffix [for]="minmaxvalidation">
                                 </mat-datepicker-toggle>
                              <mat-datepicker #minmaxvalidation></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <label class="col-form-label">-</label>
                          <div class="col-sm-2">
                            <mat-form-field style="width:100px;">
                              <input #minmaxInput matInput 
                                
                                [matDatepicker]="minmaxvalidation2" formControlName="to_date" readonly>
                              <mat-datepicker-toggle matSuffix [for]="minmaxvalidation2">
                                 </mat-datepicker-toggle>
                              <mat-datepicker #minmaxvalidation2></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <label class="col-sm-1 col-form-label">File Type</label>
                        <div class="col-sm-1 col-form-label">
                            <select  formControlName="type" >
                                <option value="Original" selected>Original</option>
                                <option value="Branch" selected>Branch</option>
                            </select>
                        </div> 
                        <div class="col-sm-2">
                            <button type="submit" [disabled]="search_btn_flag" class="btn-primary">Download</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

