/*

 .todate{
    text-align: center;
} 

.row, .col-sm{
    padding-top: 5px;
}

input.customdatepikcer{
    height: 30px;
    max-width: 283px;
}

.form-cell{
    height: 30px;
    width:283px;
}

label{
    font-size: 12px;
}

.btn-sm{
    margin-top: 5px;
    margin-right: 5px;
}

.btn-sm:first-child{
    margin-left: 4%;
}*/

.large-combo{
    width:283px;
}

.btn{
    margin-right: 5px;
}

.nu-table-body {
    overflow-y:auto;
    max-height:300px;
}

select{
    max-width: 100%;
}