<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
              <h5>Add Category</h5>
              <div *ngIf="loading" class="d-flex justify-content-center">
                <div class="spinner-border spinner-border-sm text-warning"></div>
                  <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
              </div>
            </div>
            <div class="card-body">
               
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Category Name</label>
                        <div class="col-sm-3">
                          <input type="text" formControlName="categoryName" class="form-control">
                          <code *ngIf="error">{{error}}</code>
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                          </div>
                      </div>
                </form>

                <table class="table" >
                    <thead>
                        <th>Category Id</th>
                        <th>Category Name</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categoryList;">
                           <td>{{item.categoryId}}</td>
                           <td>{{item.categoryName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  
