<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="cover-profile">
            <div class="profile-bg-img">
                <img class="profile-bg-img img-fluid" src="assets/images/MABImage/accessDenied3.png" alt="bg-img">
            </div>
        </div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <a [routerLink]="['/home']" class="btn btn-primary btn-sm">Back to Home</a>
                         
    </div>
</div>
  