<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form [formGroup]="quesform"  (ngSubmit)="sendAnswer()">
            <div class="card-header">
              <h5>{{survey_title}}</h5>
              
            <div class="page-header-breadcrumb">
                <button type="submit" class="btn-primary" [disabled]="disable_flag">
                    Send
                </button> 
            </div>
            <p style="color:#ff9800;">{{dueDateMessage}}</p>
            </div>
            <div class="card-body">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                    <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                </div>
                <p style="color:red;" *ngIf="error">{{error}}</p>
                <div class="table-responsive">
                                    <table class="">
                                        <thead>
                                            <tr>
                                                <th> No </th>
                                                <th>Question</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr formArrayName="answerList" *ngFor="let list of question; let i = index;">
                                                <td>{{list.ques_no}}</td>
                                                <td>
                                                    <div class="col-sm-12" [formGroupName]="i">
                                                   <p> {{list.question}}<p>
                                                    <input type="hidden" formControlName="qus_id" value="{{list.ques_id}}">
                                                    <textarea *ngIf="list.question_type === 'I'" [disabled]="disable_flag" type="text" formControlName="ans" cols="100"></textarea>
                                                   <p *ngIf="list.question_type == 'C'">
                                                    <input  type="radio" formControlName="ans" [disabled]="disable_flag" value="Yes">Yes
                                                    <input  type="radio" formControlName="ans" [disabled]="disable_flag" value="No">No
                                                    </p>
                                                   </div>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
            </div>
            </form>
        </div>
    </div>
</div>