<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Wrong Customer NRC List</h5>
        </div>
        <div class="card-body">
          <div *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border spinner-border-sm text-warning"></div>
              <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
          </div>

          <code *ngIf="error">{{error}}</code>
          <code  *ngIf="message" class="text-info">{{message}}</code>
          <form [formGroup]="editForm" >
            <div class="row form-group col-md-12">
              <label class="col-sm-2 col-form-label">Branch Code:</label>
              <select class="col-sm-4 form-control"  placeholder="Choose Branch" name="Choose Branch" formControlName="branch" >
                <option [value]='0'>ALL</option>  
                <option [value]="branch.homeBranch" *ngFor="let branch of branchList;">{{ branch.homeBranch }}  -  {{branch.branchName}} </option>
              </select>
            </div>

            <div class="row">
              <div class="col-sm-5 form-group">
                <button class="btn btn-sm btn-primary" (click)="download()">Download</button>
              </div>
            </div>
                  
          </form>
        </div>
      </div>
    </div>
  </div>
  
