
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Update Bypass Account</h5>
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                    <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <code *ngIf="error">{{error}}</code>
                <label *ngIf="message" class="text-info">{{message}}</label>
                
                <form  (ngSubmit)="submit()">
                    <div class="form-group row">
                        <label class="col-sm-2">Customer Acc No </label>
                        <div class="col-xs-2">
                            <input type="text" [(ngModel)]="data.cust_ac_no" name="cust_ac_no" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Amount</label>
                        <div class="col-xs-2">
                            <input type="text" [(ngModel)]="data.amount" name="amount" (keypress)="keyPressNumbers($event)"> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Recommended By</label>
                        <div class="col-xs-2">
                            <input type="text" [(ngModel)]="data.recommended_by" name="recommended_by" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Is Activated</label>
                        <div class="col-xs-2">
                            <input type="checkbox" [(ngModel)]="data.checkStatus" name="checkStatus" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <button type="submit" class="btn-primary" style="margin:5px;">Update</button>
                        <button type="button" (click)="goback()" class="btn-primary" style="margin:5px;">Back</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>