<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
              <h5>Search Fcub User</h5>
            </div>
            <div class="card-body">
               
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fcub User Id or Name</label>
                        <div class="col-sm-3">
                          <input type="text" formControlName="userId" class="form-control">
                          <code *ngIf="error">{{error}}</code>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary btn-sm">Search</button>
                          </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>User Data</h5>
          </div>
          <div class="card-body p-t-0">
            <div class="table-responsive">
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                      <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                  </div>
                 
              <table class="table table table-hover" id="export-table">
                <thead>
                <tr class="text-uppercase">
                  <th>#</th>
                  <th>User Id</th>
                  <th>User Name</th>
                  <th>User Status</th>
                  <th>Create User Account</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of data_list">
                        <td></td>
                        <td>{{list.user_id}}</td>
                        <td>{{list.user_name}}</td>
                        <td>{{list.user_status}}</td>
                        <td>
                         <!-- <a *ngIf="list.already_account_status" [routerLink]="['/user-registration',list.user_id]">Register</a>-->
                        </td>
                    </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
