<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>New Better Current Account Cash%</h5>
                <div *ngIf="loading" class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border-sm text-warning"></div>
                    <span class="text-warning">&nbsp;&nbsp;&nbsp;Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <code *ngIf="error" >{{error}}</code>
                <label *ngIf="message" class="text-info margin-bottom: 10px">{{message}}</label>
                
                <form [formGroup]="form" (ngSubmit)="submit()" >
                    <div class="form-group row" >
                        <label class="col-sm-2">Customer Acc No </label>
                        <div class="col-xs-2">
                            <input type="text" formControlName="cust_ac_no" maxlength="19"> 
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2">Line Code </label>
                        <div class="col-xs-2">
                            <input type="text" formControlName="line_code" > 
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label class="col-sm-2">Serial No </label>
                        <div class="col-xs-2">
                            <input type="number" formControlName="serial_no" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Cash% </label>
                        <div class="col-xs-2">
                            <input type="number" formControlName="cash" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Recommended By</label>
                        <div class="col-xs-2">
                            <input type="text" formControlName="recommended_by" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2">Remark</label>
                        <div class="col-xs-2">
                            <input type="text" formControlName="remark" > 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <button type="submit" class="btn-primary">Save</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
