.number{
    text-align: right;
}

.title{
    font-weight: bold;
    text-align: center;
}

.prtDate{
    font-weight: bold;
    text-align: right;
}

.headertbl .td{
    border-collapse: collapse;
    border: none;
    font-weight: bold;
}